html body {
  background-color: lightblue;
}

.outer-div{
  margin: auto;
  margin-top: 5vw;
  text-align: center;
  width: 1000px;
  height: 300px;
  border-radius: 25px;
  background-color: #40AAD3;
  /*position: relative;*/
  padding-top: 25px;
}

.glyphicon{
  color: white;
  float: left;
  padding-top: 15px;
}

.inner-div{
  /*text-align: center;
  margin: 0 auto;*/
  width: 1000px;
  border-radius: 25px;
  background-image: url("./Assets/desk-expanded-clock.png");
  background-repeat: no-repeat;
  position: relative;
}

.inner-inner-div{
  margin-right: 60%;
  /*margin-top: 2%;*/
  padding-left: 25px;
}

.inner-inner-div h1 {
  font-family: 'Baloo Bhaijaan', cursive;
  color: white;
  padding-top: 50px;

}

#addBtn{
  padding: 0 0 0 20;
  margin: 0px;
  border: none;
  background-color: transparent;
}

img{
  width: 100%;
  height: 100%;
}

.formElement{
  padding-left: 25px;
}

#inputText{
  width: 300px;
  font-family: 'Raleway', sans-serif;
}

.list-container{
  margin: auto;
  display: flex;
}

.list-div{
  width: 475px;
  display: inline-block;
}

.clock-div{
  display: inline-block;
  padding-left: 35px;
  padding-top: 110px;
}

#list{
  padding: 25px 0px 0px 10px;
  width: 475px;
}

#list li {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 25px;
  background-color: #40AAD3;
  width: 475px;
  list-style-type: none;
  margin: 0px;
  text-align: left;
  padding: 5px 0px 0px 25px;
  text-decoration: none;
  cursor: pointer;

}

li button {
  margin-right: 40px;
  float: right;
  font-size: 20px;
}

.btn{
  margin-right: 10px;
}

#clock{
  color: white;
  z-index: 1;
  margin-right: 100px;
  font-family: 'Baloo Bhaijaan', cursive;

}
#screen{
  width: 150px;
  height: 80px;
  z-index: 5;
}

.youtube{
  width: 150px;
  height: 80px;
  margin-right: 70px;
}

#mathBook{
  margin-top: 62px;
  width: 23px;
  height: 65px;
}

.math{
  margin-top: 62px;
  width: 23px;
  height: 65px;
}
